.App {
  text-align: center;
}

body {
  background: #21D648;
  background: -webkit-radial-gradient(center, #21D648, #AA8EE2);
  background: -moz-radial-gradient(center, #21D648, #AA8EE2);
  background: radial-gradient(ellipse at center, #21D648, #AA8EE2);
}

.iter-intro {
  display: inline-block;
  margin: 10px;
  width: 800px;
  box-shadow: 10px 10px grey;
}

.story-list {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.story-form {
  display: inline-block;
  margin: 10px;
  box-shadow: 10px 10px grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
